{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <h1>Liste des categories</h1>

    <a href="{{ path('new_categorie') }}" class="btn btn-success">Ajouter un categorie</a><br/>
    {% for categorie in categories %}
        <p>
            <a href="{{ path('show_categorie', {'id': categorie.id}) }}" aria-label="Categorie Details">{{ categorie.titre }}</a>
            <a class="btn btn-warning" href="{{ path('edit_categorie', {'id': categorie.id}) }}" aria-label="Edit">Edit</a>
            <a class="btn btn-danger" href="{{ path('delete_categorie', {'id': categorie.id}) }}" aria-label="Suppr">Supp</a><br/>
        </p>
    
    {% endfor %}
    
{% endblock %}
