{% extends 'base.html.twig' %}

{% block title %}Liste des matieres{% endblock %}

{% block body %}
    <h1>Liste des matieres</h1>

    <a href="{{ path('new_matiere') }}" class="btn btn-success">Ajouter un matiere</a><br/>
    {% for matiere in matieres %}
        <a href="{{ path('show_matiere', {'id': matiere.id}) }}" aria-label="Matiere Details">{{ matiere.denomination }}</a> <br/>
        <a class="btn btn-warning" href="{{ path('edit_matiere', {'id': matiere.id}) }}" aria-label="Edit">Edit</a>
        <a class="btn btn-danger" href="{{ path('delete_matiere', {'id': matiere.id}) }}" aria-label="Suppr">Suppr</a><br/>
    {% endfor %}
    
{% endblock %}
