{% extends 'base.html.twig' %} {# Héritage de la view de base #}

{% block title %}Ajouter une formation{% endblock %}

{% block body %}
    {% if edit %}
    <h1>Editer une formation</h1>
    {% else %}
    <h1>Ajouter une formation</h1>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.intituleFormation) }}
        {{ form_row(form.description) }}
        {{form_row(form.images)}}
        {{ form_row(form.valider) }}
    {{ form_end(form) }}

{% endblock %}