{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
    <h1>Liste des sessions</h1>
    
    <table class="table table-striped">
        <thead>
            <th>Intitulé Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nb Places Théoriques</th>
            <th>Nb Places Réservées</th>
            <th>Nb Places Restantes</th>
            <th>Voir Programme</th>
        </thead>
        <tbody>
        {% for session in sessions %}
        <tr>
            <td><a href="{{ path('showFormation_session', {'id': session.formation.id}) }}">{{ session.formation.intituleFormation }}</a></td>
            <td>{{ session.dateDebut | date("d.m.Y") }}</td>
            <td>{{ session.dateFin | date("d.m.Y") }}</td>
            <td>{{ session.nbMax }}</td>
            <td>{{ session.nbInscrit }}</td>
            <td>{{ session.nbPlacesRestante }}</td>
            <td>
                <a href="{{ path('show_programme', {'id': session.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
