{% extends 'base.html.twig' %} {# Héritage de la view de base #}

{% block title %}Détails de la session{% endblock %}

{% block body %}
    <h1>Détails de la session</h1>

    <p>
       Intitulé : {{ session.formation.intituleFormation }} {{ session.dateDebut | date('Y M')}} <br/>
       Date de début de Session : {{ session.dateDebut| date("d/m/Y") }} <br/>
       Date de fin de Session : {{ session.dateFin | date("d/m/Y")}} <br/>
    </p>

    {% if is_granted('ROLE_ADMIN') %}
        <h3>Stagiaire inscrits à cette session :</h3>
        {% if session.stagiaires | length > 0 %}
            {% for session in session.stagiaires %}
            <a href="{{ path('show_stagiaire', {'id': session.id}) }}">{{session.prenom}} {{session.nom}}</a><br/>
            {% endfor %}
        {% else %}
            <p>Aucun stagiaire inscrit à cette session.</p>
        {% endif %}  
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <h3>Stagiaire non-inscrits à cette session :</h3>
        {% for stagiaire in stagiaires %}
            <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{stagiaire.prenom}} {{stagiaire.nom}}</a><br/>
        {% endfor %}
    {% endif %}

    <h3>Matière programmés pour cette session :</h3>
    {% for session in session.programmes %}
    <a href="{{ path('show_matiere', {'id': session.matiere.id}) }}">{{session.matiere}}</a> <span>({{session.duree}} jours)</span><br/>
    {% endfor %}

    <h3>Matieres non-programmés pour cette session :</h3>
    {% for matiere in matieres %}
        <a href="{{ path('show_matiere', {'id': matiere.id}) }}">{{matiere.denomination}}</a> <br/>
    {% endfor %}


    <a class="btn btn-success" href="{{ path('edit_stagiaires_session', {'id': session.id}) }}">Inscrire ou retirer des stagiaires à cette session</a>
    <a class="btn btn-success" href="{{ path('edit_session', {'id': session.id}) }}">Programmer ou déprogrammer une matière à cette session</a>

{% endblock %}