{% extends 'base.html.twig' %}

{% block title %}Détail d'un programme{% endblock %}

{% block body %}
    <h1>Détail du programme de la session {{session.formation.intituleFormation}}</h1>
    
    <table class="table table-striped">
        <thead>
            <th>Module</th>
            <th>Nb jours</th>
        </thead>
        <tbody>
            {% for programme in session.programmes %}
        <tr>
            <td>{{programme.matiere.categorie.titre}}</td>
        </tr>
        <tr>
            <td><a href="{{ path('show_matiere', {'id': programme.matiere.id}) }}">{{ programme.matiere.denomination }}</a></td>
            <td>{{ programme.duree }} jours</td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}