{% extends 'base.html.twig' %}

{% block title %}Boite de réception{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>Messagerie</h1>
            <p>Résumé de la messagerie</p>
            <p>Vous avez reçu : {{ app.user.received|length}} messages</p>
        </div>

    {# Une condition pour mettre en gras quand le message est non lu (isRead == false/0) #}
    <div class="col-3">De</div>
    <div class="col-3">Sujet</div>
    <div class="col-3">Date</div>
    <div class="col-3">Action</div>
    {% for message in app.user.received %}
        {% if message.isRead == 0 %}
            {% set bold = "fw-bold" %}
        {% else %}
            {% set bold = "" %}
        {% endif %}
        <div class="col-3 {{bold}}">{{ message.sender.email }}</div>
        <div class="col-3 {{bold}}"><a href="{{path('read_message', {'id': message.id})}}">{{ message.entete }}</a></div>
        <div class="col-3 {{bold}}">{{ message.createdAt | date("m/d/Y") }}</div>
        <div class="col-3"><a class="btn btn-danger" href="{{ path('delete_message', {'id': message.id}) }}" aria-label="Supprimer">Supprimer</a></div>
    {% endfor %}

    <div class="col">
        <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            Voir mes dossiers
        </a>
        <a href="{{ path('send_message', {'id': app.user.id})}}" class="btn btn-primary" role="button" aria-controls="offcanvasExample">
            Envoyer un message
        </a>
    </div>  
</section>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="{{path('app_message')}}" class="list-group-item list-group-item-action-active">Accueil</a>
            <a href="{{path('received_message')}}" class="list-group-item list-group-item-action-active">Boite de réception</a>
            <a href="{{path('sent_message')}}" class="list-group-item list-group-item-action-active">Messages envoyés</a>
        </div>
    </div>
</div>
{% endblock %}