{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('new_formation') }}" class="btn btn-success">Ajouter une formation</a><br/>
    {% endif %}
    
    {% for formation in formations %}
        <p>
            <a href="{{ path('show_formation', {'id': formation.id}) }}" aria-label="Formation Details">{{ formation.intituleFormation }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-warning" href="{{ path('edit_formation', {'id': formation.id}) }}" aria-label="Edit">Edit</a>
                <a class="btn btn-danger" href="{{ path('delete_formation', {'id': formation.id}) }}"aria-label="Suppr" >Suppr</a><br/>
            {% endif %}
        </p>
        
    {% endfor %}
    
{% endblock %}