{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<a href="{{ path('settings_profile', {'id': app.user.id}) }}">Paramètres</a>

    <h1>Détails du profil</h1>

    <a href="{{ path('app_message')}}">Messagerie</a>

    <figure>
        <img class="user-avatar" src="{{asset('uploads/images/' ~ app.user.avatar)}}">
    </figure>
    <p>Ajouter une image de profil :</p>
    <p>{{ form_start(form) }}
    {{ form_row(form.avatar) }}
    {{ form_row(form.valider) }}
    {{ form_end(form) }}</p>

    <div class="profile-wrapper">
        <div class="row">
            <div class="col-12 col-md-4">Nom :</div>
            <div class="col-6 col-md-5">{{app.user.nom}}</div>
            <div class="col-12 col-md-4">Prénom :</div>
            <div class="col-6 col-md-5">{{app.user.prenom}}</div>
            <div class="col-12 col-md-4">Roles :</div>
            <div  class="col-6 col-md-5">
                {% if is_granted('ROLE_ADMIN') %} 
                Administrateur
                {% else %}
                Utilisateur
                {% endif %}
            </div>
            <div class="col-6 col-md-4">Adresse mail :</div>
            <div class="col-6 col-md-5">{{app.user.email}}</div>
        </div>
    </div>


{% endblock %}
