{% extends 'base.html.twig' %}

{% block title %}Paramètres du Profil{% endblock %}

{% block body %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning mt-4" role="alert">
        {{ message }}
    </div>
{% endfor %}

    <div class="container">
        <h1>Paramètres du Profil</h1>

    <p>Modifier l'adresse mail :</p>
    <p>{{ form_start(form1name) }}
    {{ form_row(form1name.email) }}
    {{ form_row(form1name.confirmEmail) }}
    {{ form_row(form1name.valider) }}
    {{ form_end(form1name) }}</p>


    <p>{{ form_start(form2name) }}
    {{ form_row(form2name.plainPassword) }}
    {{ form_row(form2name.newPassword, {
        label: 'New Password'
    }) }}
    {{ form_row(form2name.valider) }}
    {{ form_end(form2name) }}</p>
    </div>

{% endblock %}