{% extends 'base.html.twig' %}

{% block title %}Détail d'une formation{% endblock %}

{% block body %}
    <h1>Détail d'une formation</h1>
    
    <p>
        Intitulé de la formation : {{ formation.intituleFormation }}<br/>
        Liste des session liés à cette formation : 
        {% if formation.sessions | length > 0 %}
        <table class="table table-striped">
            <thead>
                <th>Titre de la session</th>
            </thead>
            <tbody>
                {% for session in formation.sessions %}
                <tr>
                    <td>
                        <p><a href="{{ path('show_session', {'id': session.id}) }}" aria-label="Session Details">{{ formation.intituleFormation }} {{ session.dateDebut | date('M-Y') }}</a><br/></p>
                        <a class="btn btn-warning" href="{{ path('edit_session', {'id': session.id}) }}">Edit</a>
                        <a class="btn btn-danger" href="{{ path('delete_session', {'id': session.id}) }}">Supp</a><br/>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Aucune session de inscrite à cette formation pour le moment.</p>
        {% endif %}
        
        
    </p>
    
{% endblock %}